div{
    position: relative;
}
.japan{
    position: absolute;
    top: 30px;
    left:130px;
}
.india{
    position:absolute ;
    top:150px;
    left:25px;
}
.germany{
    position:absolute ;
    top:5px ;
    left:200px ;
}
.russia{
    position: absolute ;
    top: -8px;
    left: 300px;
}
.china{
    position:absolute ;
    top:80px ;
    left:640px ;
}
.usa{
    position:absolute ;
    top: 365px;
    left:300px ;
}
td{
    border: 1px;
}