
.box {
    display: flex;
    justify-content: space-between;
    max-width: 48%;
    min-width: 450px;
    height: 150px;
}

.tittle{
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
    min-width: 500px;
    color: #000000;
    margin: 0;
}

.coin{
    position: relative;
    border-radius:50%

}

.coin_img{
    max-width: 172px;
}
.coin_discount{
    position: absolute;
    width: 43px;
    height: 43px;
    top: 10%;
    right:10%;
    border-radius:50%;
    background: #833AE0;
}
.coin_discount p {
    font-family: Roboto , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


.about {
    width: 224.39px;
    height: 120px;
    font-size: 12px;
    margin-top: 31.26px;    
    
   
    
}
.price {
    width: 96px;
    height: 120px;
    margin-top: 31.26px;   
    margin-left: 39.61px;
    font-size: 16px;
    line-height: 123.4%;
   
    
   
}
h2.name {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    
    font-size: 16px;
    color: #833AE0;
    margin-top: 0px;
   
}
.price p {
    margin-top: 0px;
}

.rub {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
}
.container {
    max-width: 1080px; 
    margin: auto;
    
}
.main {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}
a.back{
    display: block;
    font-family: Roboto ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #833AE0;
    padding-top: 50px;
    padding-bottom:20px ;
}

td {
    border: 1px solid gray;
    
    
    

}
.infosheet {
    padding:12px 44px 16px 47px;
    background: rgba(196, 196, 196, 0.5);
    width: 50%;

}

.price {
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    line-height: 0.7em;
    
}
.grayword {
    font-size: 10px;
    color: gray;
    
}
.article {
    font-size: 10px;
}


table { 
    border-collapse: collapse;

}
.tabl{
    border-collapse: collapse;
    border: hidden;
    font-size: 12px;
   
    
}
tr:nth-child(odd){
    background-color: white;
   
     
}

.coinbody {
    max-width: 920px;
    min-width: 600px;
    margin: auto;
}
.linkolnimg {
    position: absolute;
    width: 100%;
    
}
.linkolnimg2 {
    position: absolute;
    display: none;
    width: 100%;
    
    
}

.lincoin {
    position: relative;
    width: 50%;
    height: 50%;
}
.lincoin:hover  .linkolnimg2{
    display: block;
}
.mainbody {
    display: flex;
    font-family: "Roboto" , sans-serif;
}

.nazad  {
    margin-bottom: 10px;
    margin-left: 30px;
}
.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
}
.textlk {
    margin-bottom: 25px;
}
.container_product{
    max-width: 920px;
    min-width: 600px;
    margin: auto;
}
.main_product{
    display: flex;
    font-family: "Roboto" , sans-serif;
}