body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

#equities {
    border-collapse: collapse;
}

#equities tr {
    border-bottom: 1px solid #ece6e6;
}

#equities  th {
    background: #fffeea;
    padding: 10px;
    text-align: center;
}

#equities  th a, #equities  th a:visited {
    text-decoration: none;
    color: #0D66A5;
}

#equities  th a:hover {
    text-decoration: underline;
}

#equities  td {
    padding: 8px 40px;
}

#equities  tr > td:first-child {
    padding-right: 0;
}

#equities  tr > td:last-child, #equities  tr > td:nth-child(4) {
    text-align: center;
}


td.increase {
    background: #d6f7d6;
}

td.decrease {
    background: #f5dada;
}

img.flag {
    height: 30px;
}